<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>static file server</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var socket = io.connect('http://localhost:3000');	//with port number
	</script>
</head>
<body>
	<div id="home">{{{ markup }}}</div>
</body>
</html>
