* {margin: 0; padding: 0;}
#home form {text-align: center; margin: 20px 0;}
.file-name {
	font-size: 18px;
	font-weight: bold;
	color: #000;
	border-bottom: 1px dotted #ccc;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
}
#homebox div p {
	padding-left: 20px;
}